html { font-family: Arial, Verdana, sans-serif;   font-style: normal; font-weight: 200;font-variant: normal; display:inline-block; margin:50px auto; text-align:left;color:#444444;}
body { margin-top:10px; background-color: whitesmoke;}
h1 {text-align:center; font-size: xx-large; color: #000000; font-weight: 300;}
h2 {text-align:center; font-size: x-large ; color: #000000; font-weight: 300;}
h3 {text-align:center; font-size: large   ; color: #525252; font-weight: 400; margin-bottom: 0%;}
p  {text-align:right;  font-size: medium  ; color: #525252; font-weight: 400;}
form {text-align:center;}
table {margin-left: auto; margin-right: auto;}
span {text-align: left;}
a {}
.button {width: 240px; display: block; background-color: #3498db;border: none;color: #fff;border-color: #007bff; padding: 1px 1px;text-decoration: none;font-size: 15px;margin: 5px;line-height: 30px; cursor: pointer;border-radius: 4px; margin-bottom: 0;}
.button-large {width: 240px; font-size: 20px;margin: 10px; padding: 10px 10px;}
.button-left   {margin-left: 0; margin-right: auto; text-align: left;}
.button-center {margin-left: auto; margin-right: auto; text-align: center;}
.button-right  {margin-left: auto; margin-right: 10px; text-align: right;}
input {margin-left: 10px;}

tr td {height:30px}
button {display: inline; width: 240px;background-color: #3498db;border: none;color: #fff;border-color: #007bff; padding: 10px 10px;text-decoration: none;font-size: 20px;margin: 5px;cursor: pointer;border-radius: 4px; margin-bottom: 20px;}
  .button-on {background-color: #3498db;}
  .button-on:active {background-color: #2980b9;}
  .button-of {background-color: #34495e;}
  .button-of:active {background-color: #2c3e50;}
  .button-small { width: 100px; margin-bottom: 5px;font-size: 12px; padding: 5px 5px;}
div {box-sizing: border-box; text-align: center;}
  .column2 {float: left; width: 50%; padding: 5px;}
  .column3 {float: left; width: 33%; padding: 5px;}
  .row {border-bottom: 1px solid #34495e; border-top: 1px solid #34495e}
  .row::after { content: ""; display: table; clear: both;}
